<div class="medium-4 columns">
  {{input value=eventType placeholder="eventType"}}
  {{view Ember.Select content=verbs value=selectedVerb}}
  {{input value=xAxisLabel placeholder="x axis"}}
  {{input value=yAxisLabel placeholder="y axis"}}
  {{input value=organization placeholder="organization"}}
  {{input value=product placeholder="product"}}
  <button {{action 'createBarChart'}}>Create chart</button>

  <pre>{{queryDefinition}}</pre>
</div>
