{{#if visualizationType}}
  {{raw-number name=name data=chartdata}}
{{else}}
  <div class="chart">
    <h4>{{name}}</h4>
    {{#if isLoading}}
      {{partial 'loading'}}
    {{/if}}
    {{bar-chart data=chartdata xAxisLabel=xAxisLabel yAxisLabel=yAxisLabel}}
  </div>
{{/if}}
