<h3>{{name}}</h3>
{{#if canEdit}}
<a {{action 'deleteInvestigation' this}}>delete investigation</a>
{{/if}}

{{#if visualizationType}}
  {{raw-number data=chartdata}}
{{else}}
  {{bar-chart width=800 data=chartdata xAxisLabel=xAxisLabel yAxisLabel=yAxisLabel}}
{{/if}}
