<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      {{#unless isAnonymous}}
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>
      {{/unless}}

      <section class="middle tab-bar-section">
        <h1 class="title">{{outlet title}} Dashboard</h1>
      </section>

      <section class="right-large">
        <div class="right">
          {{#if canEdit}}
            {{name}}
            <a href="/logout">Log out</a>
          {{/if}}
          <img class="header-image" src="/assets/img/regard-logo-and-text.png" />
        </div>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li>
          <label>Projects
            {{#if canEdit}}
              <span class="label" {{action "createProject"}}>New</span>
            {{/if}}
          </label>
        </li>
        {{#each project in projects}}
          <li>
            {{#link-to 'project' project}}
              {{project.name}}
              {{#if canEdit}}
                <span class="right" {{action "deleteProject" project}}>&times;</span>
              {{/if}}
            {{/link-to}}
          </li>
        {{else}}
          You don't have any projects
        {{/each}}
      </ul>
    </aside>

    <section class="main-section">
      {{outlet}}
    </section>

    <a class="exit-off-canvas"></a>
  </div>
</div>
